<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gakkle</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header class="ui basic segment center aligned">
        <div class="ui container">
            <h1 class="logo">
                <i class="ui icon crow"></i>Gakkle
            </h1>
            <div class="ui secondary pointing menu">
                <a class="header active item">Главная</a>
                <a class="header right item" href="#">Пользователь</a>
            </div>
        </div>
    </header>
    <div class="ui wide container">
        <!-- Filters -->
        <div class="ui two column stackable grid">
            <!-- Search Filter -->
            <div class="column">
                <div class="ui segment">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="sixteen wide field">
                                <div class="ui icon input">
                                    <input type="text" placeholder="Поиск по названию датасета" id="name-filter">
                                    <i class="search icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Row Size Filter -->
            <div class="column">
                <div class="ui segment">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <label>Количество обучающих данных</label>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <input type="number" placeholder="От" min="0" id="row-size-from">
                                </div>
                                <div class="field">
                                    <input type="number" placeholder="До" min="0" id="row-size-to">
                                </div>
                            </div>
                            <div class="field">
                                <select class="ui dropdown" id="row-size-sort">
                                    <option>По возрастанию</option>
                                    <option>По убыванию</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Data Size Filter -->
            <div class="column">
                <div class="ui segment">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <label>Размер</label>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <input type="number" placeholder="От" min="0" id="data-size-from">
                                </div>
                                <div class="field">
                                    <input type="number" placeholder="До" min="0" id="data-size-to">
                                </div>
                            </div>
                            <div class="field">
                                <select class="ui dropdown" id="data-size-sort">
                                    <option value="asc">По возрастанию</option>
                                    <option value="desc">По убыванию</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Downloads Filter -->
            <div class="column">
                <div class="ui segment">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <label>Количество загрузок</label>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <input type="number" placeholder="От" min="0" id="downloads-from">
                                </div>
                                <div class="field">
                                    <input type="number" placeholder="До" min="0" id="downloads-to">
                                </div>
                            </div>
                            <div class="field">
                                <select class="ui dropdown" id="downloads-sort">
                                    <option>По возрастанию</option>
                                    <option>По убыванию</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Date Filter -->
            <div class="column">
                <div class="ui segment">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <label>Дата добавления:</label>
                            </div>
                            <div class="field">
                                <label>От:</label>
                            </div>
                            <div class="field">
                                
                                <input type="date" id="date-from">
                            </div>
                            <div class="field">
                                <label>До:</label>
                            </div>
                            <div class="field">
                                
                                <input type="date" id="date-to">
                            </div>
                            <div class="field">
                                <select class="ui dropdown" id="date-sort">
                                    <option>По возрастанию</option>
                                    <option>По убыванию</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Views Filter -->
            <div class="column">
                <div class="ui segment">
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <label>Количество просмотров</label>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <input type="number" placeholder="От" min="0" id="views-from">
                                </div>
                                <div class="field">
                                    <input type="number" placeholder="До" min="0" id="views-to">
                                </div>
                            </div>
                            <div class="field">
                                <select class="ui dropdown" id="views-sort">
                                    <option>По возрастанию</option>
                                    <option>По убыванию</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="ui three cards cards-container">
            <a class="ui card" href="#" data-name="Example 7" data-size="11">
                <div class="content">
                    <div class="header">Example 7</div>
                    <div class="description">Delete me</div>
                    <br>
                    <div class="description">csv, 11 кбайт</div>
                </div>
            </a>
            <a class="ui card" href="#" data-name="Example 1" data-size="22">
                <div class="content">
                    <div class="header">Example 1</div>
                    <div class="description">Delete me</div>
                    <br>
                    <div class="description">csv, 22 кбайт</div>
                </div>
            </a>
            <a class="ui card" href="#" data-name="Example 2" data-size="33">
                <div class="content">
                    <div class="header">Example 2</div>
                    <div class="description">Delete me</div>
                    <br>
                    <div class="description">csv, 33 кбайт</div>
                </div>
            </a>
            <a class="ui card" href="#" data-name="Example 3" data-size="44">
                <div class="content">
                    <div class="header">Example 3</div>
                    <div class="description">Delete me</div>
                    <br>
                    <div class="description">csv, 44 кбайт</div>
                </div>
            </a>
            <a class="ui card" href="#" data-name="Another" data-size="55">
                <div class="content">
                    <div class="header">Another</div>
                    <div class="description">Delete me</div>
                    <br>
                    <div class="description">csv, 55 кбайт</div>
                </div>
            </a>
        </div>
    
        
    </div>

    <a class="circular ui icon button massive secondary add-button" href="#">
        <i class="icon plus"></i>
    </a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
<script src="../static/scripts/filter.js"></script>
</body>
</html>
